
/* .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: aqua;

} 

h1{
    color: red;
    font-style: bold; 
    font-style: italic;

}

p {
    color: blue;
} */


/* .flex-container{
    display: flex;
    height: 200px;
    background-color: grey;


}
.flex-container > div {
   
    background-color: pink;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center; 
    line-height: 75px;
    font-size: 30px;
    } */

   /* .flex{
    display: flex;
    height: 200px;
    flex-basis: 2;
    background-color: blue;
   }
   
   
   
    .flex > div{
        background-color: aliceblue;
        margin: 10px;
        width: 100px;
        line-height: 75px;
        text-align: center;
        
        font-size: 30px;
    }
    .stretch{
        align-items: baseline;
            }
             */

    

    
    .main-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    .left{
        background-image: url("https://i.pinimg.com/originals/90/66/c4/9066c406ef1354b4e365681d25f938aa.jpg");
       width: 50%;
       height: 130vh;
       display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
    .left-main h1{
        color: rgb(149, 68, 95);
    }
    .left-main i{
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(149, 68, 95);
    }
    
    
    .right{
        background-image: url("https://i.pinimg.com/736x/44/52/28/445228caefce1931d3c2ee4a61c37ed4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 130vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input-box {
        position: relative;
        display: flex;
    }
    
    .input-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .login h1{
        display: flex;
        justify-content: center;
        align-items: center;
        color:  rgb(149, 68, 95);}
    
    .input-box input {
    
        padding: 12px;
        border: transparent;
        background-color:  rgb(199, 138, 199);
         border-radius: 5px;
        font-size: 75%;
        width: 100%
    }
    .input-box input::placeholder{
        color: rgb(149, 68, 95);
    }
    
    .input-box i{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 22px;
        color: rgb(149, 68, 95);
    }
    .forgot-pass {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    .forgot-pass p{
        font-size: 13px;
        color:  rgb(149, 68, 95);
    }
    .forgot-pass a{
        font-size: 13px;
        color:   rgb(149, 68, 95);
    }
    .butn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button{
        width: 60%;
        padding: 8px;
        border: transparent;
        border-radius: 6px;
        background-color:  rgb(199, 138, 199);
        color:rgb(149, 68, 95);
        font-size: 14px;
        font-style: bold;
    }

    .line{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .line1{
        border: 1px solid  rgb(149, 68, 95);
        width: 30%;
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon i{
        font-size: 25px;
        color: rgb(149, 68, 98);
    }
    .create-account{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    .create-account p{
        font-size: 14px;
        color: rgb(149, 68, 95);
    }
    .create-account a{
        font-size: 14px;
        color: rgb(149, 68, 95);
    }